{% extends 'base.html.twig' %}

{% block title %} Род: {{ name }} {% endblock %}

{% block body %}
    <h1>Род {{ name }}</h1>

    <ul>
        {% for note in notes %}
            <li>{{ note }}</li>
        {% endfor %}
    </ul>
{% endblock %}